<h1>Step 2: Select your config and options</h1>

<div class="form-container">
  <label for="configSelect">Config:</label>
  <select
    id="configSelect">

    <option>BEEP</option>

  </select>
  <div class="option-details">
    <!--        TODO: show details of selected option here-->

    <div class="checkbox-container">
      <label for="beep">Tow Yike:</label>
      <input
        type="checkbox"
        id="beep"/>
    </div>

    <div class="checkbox-container">
      <label for="beep2">Steering Wheel</label>
      <input
        type="checkbox"
        id="beep2"/>
    </div>
  </div>


</div>
