<h1>Step 1: Choose your Model and color</h1>

<div class="form-container">
  <form [formGroup]="form"></form>
  <label for="model">Model:</label>
  <select
    (select)="refreshColors()"
    [formControl]="form.controls.model"
    id="model">

    <option *ngFor="let model of models | async" [value]="model.code">{{ model.code }}</option>
  </select>
  <label for="color">Color:</label>
  <select
    [formControl]="form.controls.color"
    id="color">
    <option *ngFor="let color of colors | async" [value]="color.code">{{ color.code }}</option>
  </select>
</div>
