<h1>Step 1: Choose your Model and color</h1>

<div class="form-container">
  <label for="modelSelect">Model:</label>
  <select
    (change)="modelChange(selectedModel)"
    [(ngModel)]="selectedModel"
    id="modelSelect">

    <option *ngFor="let model of models$ | async" [value]="model.code">{{ model.code }}</option>
  </select>

  <label for="colorSelect">Color:</label>
  <select
    [(ngModel)]="selectedColor"
    (change)="colorChange()"
    id="colorSelect">

    <option *ngFor="let color of color$ | async" [value]="color.code">{{ color.description }}</option>
  </select>

  <img [src]="url"/>
</div>
